.FieldSet.LastUsers .item-lastUser-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5em;

	div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;

		span.lastUser-visited {
			font-size: .8em;
		}
	}
}